[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
contextlog = {path = "./../../shared/contextlog"}
sentry-sdk = "*"
jinja2 = "*"
aiofiles = "*"
python-jose = {extras = ["cryptography"],version = "*"}
pyjwt = "*"
python-multipart = "*"
motor = "*"

[requires]
python_version = "3.7"
