.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  max-width: none;
}

.footer-container nav {
  font-size: 15px;
  padding: 0px;
  background-color: #343a40;
  min-height: 100px;
}

.footer-container hr {
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-container a {
  color: #fff !important;
}

.footer-container a:hover {
    color: #86ddf8 !important;
}

.language-dropdown > button {
  background-color: transparent;
  border-color: transparent;
  padding-top: 8px;
}

.language-dropdown > button:hover {
  background-color: transparent;
  border-color: transparent;
}

.language-dropdown > button:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.language-dropdown > .dropdown-toggle::before {
  content: none;
}

.custom-nav-items .nav-link {
  color: #fff !important;
}

.custom-nav-items .nav-link:hover {
  color: #86ddf8 !important;
}

.custom-nav-items .nav-link svg:hover {
  color: #86ddf8 !important;
}

.language-dropdown button:hover {
  color: #86ddf8 !important;
}

#page-container {
  position: relative;
  min-height: 90vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.text-center {
  text-align: center;
}

.custom-jumbotron {
  color: white;
  background-color: #343a40;
  margin-bottom: 0px;
  font-family: 'Hoefler Text';
}

@media (min-width: 100px) and (max-width:320px) {
  .custom-jumbotron {padding: 2rem 2rem;}
  .custom-jumbotron h1 {font-size:15px;}
  .custom-jumbotron p {font-size:12px;}
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 321px) and (max-width:544px) {
  .custom-jumbotron {padding: 2rem 2rem;}
  .custom-jumbotron h1 {font-size:22px;}
  .custom-jumbotron p {font-size:13px;}
}

@media (min-width: 544px) and (max-width:768px) {
  .custom-jumbotron {padding: 2rem 2rem;}
  .custom-jumbotron h1 {font-size:30px;}
  .custom-jumbotron p {font-size:14px;}
}

@media (min-width: 769px) {
  .custom-jumbotron {padding: 4rem 2rem;}
  .custom-jumbotron h1 {font-size:40px;}
  .custom-jumbotron p {font-size:17px;}
}
