.main-component {

}

.vertical-align {
	display: inline-flex;
	align-items: center;
}

.second-row {
	background-color: #343a40;
}

.second-row-right {
	height: 500px;
}

.second-row-middle {
	height: 500px;
}

.second-row-left {
	height: 500px;
}

.third-row {
	background-color: #fff;
	text-align: center;
	margin-top: 50px;
}

.fourth-row {
	background-color: #fff;
	text-align: center;
}




.react-icon {
	height: 150px;
	width: 250px;
}

.reactivesearch-icon {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.mongo-icon {
	height: 150px;
	width: 250px;
}

.elasticsearch-icon {
	height: 100px;
	width: 300px;
}

.fastapi-icon {
	height: 100px;
	width: 250px;
}



@media (min-width: 100px) and (max-width:544px) {
.first-row {
		background-color: #ec6266;
		text-align: center;
	}

	.first-row-right {
		height: 200px;
	    font-size: 20px;
	    color: #fff;
	    padding-left: 50px;
	    padding-right: 50px;
	}

	.first-row-middle {
		background-color: #ec6266;
		height: 200px;
	}

	.first-row-left {
		height: 200px;
	    font-size: 20px;
	    color: #fff;
	    padding-left: 50px;
	    padding-right: 50px;
	}

	.centered-image {
		background-color: #ec6266;
		height: 150px;
		width: 150px;
		margin-top: 15px;
	}
}

@media (min-width: 545px) and (max-width:1199px) {
.first-row {
		background-color: #ec6266;
		text-align: center;
	}

	.first-row-right {
		height: 300px;
	    font-size: 25px;
	    color: #fff;
	    padding-left: 100px;
	    padding-right: 100px;
	}

	.first-row-middle {
		background-color: #ec6266;
		height: 300px;
	}

	.first-row-left {
		height: 300px;
	    font-size: 25px;
	    color: #fff;
	    padding-left: 100px;
	    padding-right: 100px;
	}

	.centered-image {
		background-color: #ec6266;
		height: 250px;
		width: 250px;
		margin-top: 30px;
	}
}

@media (min-width: 1200px) {
.first-row {
		background-color: #ec6266;
		text-align: center;
	}

	.first-row-right {
		height: 600px;
	    font-size: 27px;
	    color: #fff;
	}

	.first-row-middle {
		background-color: #ec6266;
		height: 600px;
	}

	.first-row-left {
		height: 600px;
	    font-size: 27px;
	    color: #fff;
	}

	.centered-image {
		background-color: #ec6266;
		height: 250px;
		width: 250px;
		margin-top: 30px;
	}
}

.blockquote-custom {
	position: relative;
	font-size: 1.3rem;
	-webkit-box-shadow: 5px 5px 3px 0px #1e1e1f;
	-moz-box-shadow: 5px 5px 3px 0px #1e1e1f;
	box-shadow: 5px 5px 3px 0px #1e1e1f;
}

.blockquote-custom-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -25px;
	left: 50px;
}
