body {
  margin: 0;
  /*font-family: 'Hoefler Text';*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 100px) and (max-width:544px) {
  .responsive-text {font-size:12px;} /*1rem = 16px*/
  .responsive-text span {font-size:12px;}
  .responsive-text h1 {font-size:15px;}
  .responsive-text h2 {font-size:14px;}
  .responsive-text h3 {font-size:13px;}
  .responsive-text h4 {font-size:12px;}
  .responsive-text button {
    font-size:12px !important;
  }
  .responsive-text input {
    font-size:12px !important;
  }
  .responsive-text textarea {
    font-size:12px !important;
  }
  .responsive-text a {
    font-size:12px !important;
  }
  .reference-tabs {font-size:12px;}
}

@media (min-width: 544px) and (max-width:768px) {
  .responsive-text {font-size:12px;}
  .responsive-text span {font-size:12px;}
  .responsive-text h1 {font-size:20px;}
  .responsive-text h2 {font-size:19px;}
  .responsive-text h3 {font-size:18px;}
  .responsive-text h4 {font-size:17px;}
  .responsive-text button {
    font-size:12px !important;
  }
  .responsive-text input {
    font-size:12px !important;
  }
  .responsive-text textarea {
    font-size:12px !important;
  }
  .responsive-text a {
    font-size:12px !important;
  }
  .reference-tabs {font-size:15px;}
}

@media (min-width: 769px) {
  .responsive-text {font-size:15px;}
  .responsive-text span {font-size:15px;}
  .responsive-text h1 {font-size:20px;}
  .responsive-text h2 {font-size:19px;}
  .responsive-text h3 {font-size:18px;}
  .responsive-text h4 {font-size:17px;}
  .responsive-text button {
    font-size:15px !important;
  }
  .responsive-text input {
    font-size:15px !important;
  }
  .responsive-text textarea {
    font-size:15px !important;
  }
  .responsive-text a {
    font-size:15px !important;
  }
  .reference-tabs {font-size:15px;}
}
