.limited-text {
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.reference-tabs .nav-link {
	color: #495057;
}

.reference-tabs .nav-link.active {
	color: black;
}

.information-button {
	font-size: 20px;
	color: #28a745;
	cursor: pointer;
}
