.searchbar-input {
	border-radius: 25px;
}

.searchbar-list {
    margin-left: 4% !important;
    width: 92% !important;
}

.results-title {
   white-space: pre-wrap !important;
}

.results-list {
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	padding: unset !important;
	padding-top: 10px !important;
}

.results-list:hover {
	background-color: #fff !important;
}

.css-16nr2ca {
	top: 8px !important;
}

.language-dropdown {
	font-size: 15px;
	padding: 0px;
}

.language-dropdown .dropdown-item.active, .dropdown-item:active {
	color: black;
	background-color: white;
}

.language-dropdown .dropdown-item:focus{
	background-color: white;
}

.language-dropdown .dropdown-item:hover {
	background-color: #f8f9fa
}

.css-16nr2ca svg.search-icon {
	fill: black !important;
}

.search-toggle a {
	font-size: 12px;
	min-height: 10px;
	height: 17px;
	width: 100%;
	background-color: white !important;
	box-shadow: none !important;
	border: none !important;
}

.search-toggle .css-19zvvmd {
	font-weight: bold;
}

.search-stats {
	text-align: center;
	font-size: 10px;
}

.toggle-categories-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.custom-pagination {
	text-align: center;
}

.custom-pagination > ul {
	display: inline-flex;
}

.custom-pagination > ul > li > span {
	background-color: #fff;
	color: #343a40;
	border-color: #343a40;
}

.custom-pagination > ul > li > a {
	background-color: #fff;
	color: #343a40;
	border-color: gray;
}

.custom-pagination .page-item.active .page-link {
	background-color: #7f7f7f;
	color: #fff;
	border-color: gray;
}

.custom-pagination .page-item.disabled .page-link {
	background-color: #fff;
	color: black;
	border-color: gray;
}

.custom-pagination .page-link:hover {
	background-color: #7f7f7f;
	color: #fff;
	border-color: #7f7f7f;
}

.disclaimer-box {
  border: dashed 1px black;
  background-color: #e7e4e4;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 8px;
}

.disclaimer-box p {
	margin: 10px 0px 10px 10px;
}

.disclaimer-box-dismiss {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width:991px) {
	.topdiv {
		position: fixed;
		z-index: 1;
		position: absolute;
		background-color: white;
		text-align: center;
		border-radius: 25px;
		border: 1px solid !important;
	}

	.topdiv a {
		background-color: white !important;
		max-width: 200px;
		margin: 5px 0px 5px 0px;
		border-radius: 25px;
	}
}

.empty-search {
	font-family: "Hoefler Text";
	text-align: center;
}

.empty-search h2 {
	font-family: "Hoefler Text";
	text-align: center;
}

.line{
	border-top: 1px solid #343a40;
}

.detective{
	max-width: 100%;
	height: auto;
	height: 130px;
	border-radius: 2%;
	filter: invert(20%) sepia(7%) saturate(957%) hue-rotate(169deg) brightness(95%) contrast(90%);
}

@media (min-width: 100px) and (max-width:544px) {
	.amazon {
		height: 20px;
	}

	.bookdepository {
		height: 20px;
	}

	.waterstones {
		height: 20px;
	}
}

@media (min-width: 545px) and (max-width:1199px) {
	.amazon {
		height: 30px;
	}

	.bookdepository {
		height: 30px;
	}

	.waterstones {
		height: 30px;
	}
}

@media (min-width: 1200px) {
	.amazon {
		height: 30px;
	}

	.bookdepository {
		height: 30px;
	}

	.waterstones {
		height: 30px;
	}
}
