<html>
	<head>
		<title>Reference Filters</title>
	</head>
	<body>
		<h1>Reference Filters</h1>
		<form action="/references" method="get">
			Has amazon links
			<div>
				<input type="radio" id="has_amazon" name="has_amazon_links" value="1">
				<label for="has_amazon">Yes</label>
				<input type="radio" id="has_not_amazon" name="has_amazon_links" value="2">
				<label for="has_not_amazon">No</label>
			</div>
			Has waterstones links
			<div>
				<input type="radio" id="has_waterstones" name="has_waterstones_links" value="1">
				<label for="has_waterstones">Yes</label>
				<input type="radio" id="has_not_waterstones" name="has_waterstones_links" value="2">
				<label for="has_not_waterstones">No</label>
			</div>
			Has book depository links
			<div>
				<input type="radio" id="has_bookdepository" name="has_bookdepository_links" value="1">
				<label for="has_bookdepository">Yes</label>
				<input type="radio" id="has_not_bookdepository" name="has_bookdepository_links" value="2">
				<label for="has_not_bookdepository">No</label>
			</div>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>