<html>
	<head>
		<title>Reference</title>
	</head>
	<body>
		<div>
			Title: {{ reference.title }}
		</div>
			Description: {{ reference.description }}
			<ul>
			{% for book in reference.books %}
				<li>
					{{ book.name }} - {{ book.author }}
					<ul>
					{% for link in book.book_links %}
						<li>
							{{ link.link_type.value }} - {{ link.link_url }}
						</li>
					{% endfor %}
					</ul>
					<form action="/reference" method="post">
						<label for="link">Add new link:</label>
						<select id="link" name="link">
							<option value="amazon">amazon</option>
							<option value="waterstones">waterstones</option>
							<option value="bookdepository">bookdepository</option>
						</select>
						<input type="text" id="reference_id" name="reference_id" value="{{ reference.reference_id }}" required hidden>
						<input type="submit" value="Submit">
					</form>
				</li>
			{% endfor %}
			</ul>
	</body>
</html>