<html>
	<head>
		<title>User</title>
	</head>
	<body>
		<div>
			Username: {{ user.username }}
		</div>
		<form action="/user" method="post">
			Requested join: 
			{% if user.requested_join %}
				<input type="checkbox" id="requested_join" name="requested_join" checked>
			{% else %}
				<input type="checkbox" id="requested_join" name="requested_join">
			{% endif %}
			Is Author: 
			{% if user.is_author %}
				<input type="checkbox" id="is_author" name="is_author" checked>
			{% else %}
				<input type="checkbox" id="is_author" name="is_author">
			{% endif %}
			<input type="text" id="internal_sub_id" name="internal_sub_id" value="{{ user.internal_sub_id }}" required hidden>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>